{{#section 'head'}}
     <title>Root view for  {{text}}</title>
     <meta charset="utf-8">
{{/section}}

<h1>Welcome!</h1>
<p>{{text}}</p>
<p><a href="https://github.com/gossoudarev/webteach/tree/master/exam2" 
   target="_blank">Задание, которое иллюстрируется этим приложением</a></p>